body {
	background: #fafafa;
	padding: 14px;
}

.thumbnail {
    width: 388px;
    height: 240px;
	border: 1px solid #ccc;
	margin-bottom: 20px;
    margin-right: 20px;
	padding: 0px;
	border-radius: 10px;
	background-image: url("../images/_grey-bg.png");
	background-size: cover;
	overflow: hidden;
    cursor: pointer;
}

.thumbnail:hover {
    border: 1px solid #336699;
    opacity: 0.8;
    transition: opacity .18s ease-in-out;
    -moz-transition: opacity .18s ease-in-out;
    -webkit-transition: opacity .18s ease-in-out;
}

.color-bar {
    position: absolute;
    bottom: -1px;
    min-height: 30px;
    height: auto;
    width: 100%;
    opacity: 0.98;
    z-index: 0;
}

.text-lg,
.text-md,
.text-sm {
    display: block;
    background-color: rgba(255,255,255, 1);
    width: 101%;
    z-index: 20;
}
.text-lg {
    font-size: 24px;
    padding: 4px 4px 0px 8px;
    font-weight: 700;
}
.text-md {
    font-size: 18px;
    padding: 0px 4px 6px 8px;
    font-weight: 300;
}

h2, h3, h4, small {
	background-color: rgba(255,255,255, 1);
    margin-top: 0px;
    margin-left: -4px;
    width: 104%;
    left: 0px;
	padding: 8px;
    z-index: 20;
}

.period-text, .date-text {
    color: #fff;
    text-shadow: 1px 0.5px 0.5px #555;
    font-size: 14px;
    bottom: 4px;
    padding: 2px 6px 2px 8px;
    border-radius: 3px;
    font-weight: 300;
    letter-spacing: 1px;
    z-index: 44;
}
.period-text {
    letter-spacing: 1px;
    max-width: 65%;
}
.date-text {
    right: 4px;
    max-width: 60%;
}

/* ------------------ MODAL / POPUP ---------------*/
.modal-header {
    padding: 10px 0 12px 10px;
    /*text-align: center;*/
}

.fade {
   opacity: 0;
   -webkit-transition: opacity 0.15s linear;
      -moz-transition: opacity 0.15s linear;
       -ms-transition: opacity 0.15s linear;
        -o-transition: opacity 0.15s linear;
           transition: opacity 0.15s linear;
 }

.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal-content {
  height: auto;
  min-width: 100%;
  border-radius: 0;
}

#modal-title {
    font-size: 24px;
    text-shadow: 1px 1.5px 1.5px #444;
    min-width: 80%;
    text-align: center;
    color: #fff;
    font-weight: 300;
    vertical-align: bottom;
    margin-left: 10px;
    display: inline-block;
}

.close-modal {
    border: 2px solid #eee !important;
    color: #fff !important;;
    background-color: transparent !important;
    text-shadow: 1px 1px 1px #444;
    border-radius: 3px;
    font-weight: 700;
    font-size: 32px;    
    line-height: 28px;
    margin-right: 2px;
    padding: 4px 11px 9px 10px !important;
    cursor: pointer;
}

.close-modal:hover {
    background-color: #444 !important;
}

.center-img {
    margin: 0 auto;
}

.fullsizeImage {
    border: 1px solid #fff;
    border-radius: 3px;
    overflow: hidden;
    margin-bottom: 10px;    
}

/*.fullsizeImage:before, */
.fullsizeImage:after {
    content: "";
    height: 1px;
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(147,147,147,1) 50%,rgba(0,0,0,0) 100%);
    display: block;
    margin-bottom: 10px;
    margin-top: 20px;
}
/*----------------- One offs ----------------------*/
.auto-expand {
	display: block;
	overflow-y: auto;
}

.link, .link a {
	padding: 6px 4px 6px 0px;
	background: none;
	border: none;
	color: blue !important;
}

.link:hover {
	background-color: #B4CEE7 !important;
	border-radius: 3px;
	cursor: pointer;
}

.large-text {
	color: #fff;
	line-height: 1.2;
	margin: 10px auto 10px auto;
}

/*      General Stuff          */
.absolute {
    position: absolute;
}
.relative  {
    position: relative;
}
.hidden {
    display: none;
}
